/target
temp*/
*.laz
*.las
in/
out/
.DS_Store
pullauta.ini
pullauta.pl
pullauta
pullautus*.png
pullautus*.pgw
.vs/
header*.xyz
lazlist*.txt
temp*.xyz
ziplist*.txt
*.dxf
*.jpg
*.jgw
*.png
*.pgw

data/
dhat.out.*
cachegrind.out.*
callgrind.out.*
perf.data*
*.svg
*.xyz.bin
